@keyframes increaseSize {
	from {
		-webkit-transform: scale3d(0, 0, 0);
		transform: scale3d(0, 0, 0);
	}
}

@keyframes slideFromTop {
	from {
		-webkit-transform: translate3d(0, -15vh, 0);
		transform: translate3d(0, -15vh, 0);
	}
}

@keyframes slideFromBottom {
	from {
		-webkit-transform: translate3d(0, 15vh, 0);
		transform: translate3d(0, 15vh, 0);
	}
}

@keyframes slideFromLeft {
	from {
		-webkit-transform: translate3d(-200vw, 0, 0);
		transform: translate3d(-200vw, 0, 0);
	}
}

@keyframes slideToRight {
	to {
		-webkit-transform: translate3d(200vw, 0, 0);
		transform: translate3d(200vw, 0, 0);
	}
}

:root {
	--scaling-factor-increase:1.1;
	--scaling-factor-increase-reduced:1.04;
	--scaling-factor-decrease:0.9;
}

body::-webkit-scrollbar {
	display: none;
}

body ::selection {
  background: #ffbb00; /* WebKit/Blink Browsers */
}

body::-moz-selection {
  background: #ffbb00; /* Gecko Browsers */
}

* {
	color: white;
	font-family: 'Baloo Chettan 2';
	font-weight: bold;
	text-align: center;
	outline: 0;
	border: none;
	border-radius: 0.7em;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	transition-duration: 0.3s;
}

html, body {
	margin:0;
	-ms-overflow-style: none;
}

body {
	overflow: hidden;
	font-size: 1.7vmin;
	background-color: #211f27;
	scrollbar-width: none;									/* Firefox */
}

#infoImage, #logo {
	cursor: pointer;
	height: 4em;
	border-radius: 100%;
	opacity:0.7;
	animation: increaseSize 0.4s;
}

#infoImage:hover {
	-webkit-transform: scale3d(var(--scaling-factor-increase), var(--scaling-factor-increase), var(--scaling-factor-increase));
	transform: scale3d(var(--scaling-factor-increase), var(--scaling-factor-increase), var(--scaling-factor-increase));
	opacity: 1;
}

#infoImage:active {
	-webkit-transform: scale3d(var(--scaling-factor-decrease), var(--scaling-factor-decrease), var(--scaling-factor-decrease));
	transform: scale3d(var(--scaling-factor-decrease), var(--scaling-factor-decrease), var(--scaling-factor-decrease));
}

#logo {
	background: radial-gradient(circle, rgba(0,212,255,1) 43%, rgba(28,9,121,1) 81%, rgba(2,0,36,1) 100%);
}

#logo:hover {
	opacity: 1;
	-webkit-transform: scale3d(var(--scaling-factor-increase), var(--scaling-factor-increase), var(--scaling-factor-increase)) rotate3d(0,0,1,360deg);
	transform: scale3d(var(--scaling-factor-increase), var(--scaling-factor-increase), var(--scaling-factor-increase)) rotate3d(0,0,1,360deg);
}

#logo:active {
	-webkit-transform: scale3d(var(--scaling-factor-decrease), var(--scaling-factor-decrease), var(--scaling-factor-decrease)) rotate3d(0,0,1,360deg);
	transform: scale3d(var(--scaling-factor-decrease), var(--scaling-factor-decrease), var(--scaling-factor-decrease)) rotate3d(0,0,1,360deg);
}

#game {
	overflow-y: scroll;
	overflow-x: hidden;
	height: calc(100% - (4em + 0.5em + 0.5em + 1vh) - (120 / 100 * 1.7vmin + 0.5em + 0.5em + 0.5em + 0.5em + 1vh));	/* bodyHeight - space occupied by the topToolBar - space occupied by the bottomToolBar */
	margin-top: calc(4em + 0.5em + 0.5em + 1vh);																	/* Logo Height + topToolBar padding-top + topToolBar padding-bottom + topToolBar margin-top */
	margin-bottom: calc(120 / 100 * 1.7vmin + 0.5em + 0.5em + 0.5em + 0.5em + 1vh);									/* Inputs FontSize + Inputs padding-top + Inputs padding-bottom + bottomToolBar padding-top + bottomToolBar padding-bottom + bottomToolBar margin-bottom */
	margin-right: 1%;
	margin-left: 1%;
	scrollbar-width: none;										/* Firefox */
	animation: slideFromLeft 0.4s;
}

#game::-webkit-scrollbar {
	display: none;
	-ms-overflow-style: none;
}

#game.newGame {
	margin-top: 5vh;
	opacity: 0;
}

.gameToolBar {
	z-index: 1;
	position: fixed;
	display:flex;
	flex-direction:row;
	align-items: center;
	justify-content: space-between;
	right: 1%;
	left:1%;
	overscroll-behavior: none;
	padding: 0.5em;
	background-color: #18171C;
}

#topToolBar {
	top: 1%;
	animation: slideFromTop 0.4s;
}

#bottomToolBar {
	bottom: 1%;
	animation: slideFromBottom 0.4s;
}

.left {
	float: left;
}

.center {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate3d(-50%, -50%, 0);
	transform: translate3d(-50%, -50%, 0);
}

.right {
	float: right;
}

button {
	margin-right: 0.3em;
	cursor: pointer;
}

button:hover {
	-webkit-transform: scale3d(var(--scaling-factor-increase-reduced), var(--scaling-factor-increase-reduced), var(--scaling-factor-increase-reduced));
	transform: scale3d(var(--scaling-factor-increase-reduced), var(--scaling-factor-increase-reduced), var(--scaling-factor-increase-reduced));
	opacity: 1;
}

button:active{
	-webkit-transform: scale3d(var(--scaling-factor-decrease), var(--scaling-factor-decrease), var(--scaling-factor-decrease));
	transform: scale3d(var(--scaling-factor-decrease), var(--scaling-factor-decrease), var(--scaling-factor-decrease));
}

button::-moz-focus-inner {
	border: 0;							/* Removes Button blue focus on firefox */
}

#resetGameButton {
	opacity: 0.6;
	background-color: #e46401;
}

@media (hover:hover) and (pointer:fine) {
	#resetGameButton:hover {
		opacity: 1;
		background-color: #fe7d1b;
	}
}

#resetGameButton:active {
	opacity: 1;
	background-color: #fe7d1b;
}

#endGameButton {
	opacity: 0.6;
	background-color: #e6001f;
}

@media (hover:hover) and (pointer:fine) {
	#endGameButton:hover {
		opacity: 1;
		background-color: #f2001f;
	}
}

#endGameButton:active {
	opacity: 1;
	background-color: #f2001f;
}

.modifyGameScenaryButton {
	font-size: 300%;
	width: 30%;
}

#timerSection {
	display:flex;
	flex-direction:row;
	align-items: center;
	justify-content: space-between;
	opacity: 0.7;
	background-color: #3333ff;
}

#timerSection:hover {
	opacity:1;
}

#timerSection > img {
	border-radius: 50%;
}

#timerSection > * {
	cursor: pointer;
	height: 1.5em;
	width: 1.5em;
	padding: 0.5em;
	margin: 0.5em;
	opacity: 0.85;
}

#timerSection > *:hover {
	opacity: 1;
	-webkit-transform: scale3d(var(--scaling-factor-increase-reduced), var(--scaling-factor-increase-reduced), var(--scaling-factor-increase-reduced));
	transform: scale3d(var(--scaling-factor-increase-reduced), var(--scaling-factor-increase-reduced), var(--scaling-factor-increase-reduced));
	background-color: #2929a3;
}

#timerSection > *:active {
	-webkit-transform: scale3d(var(--scaling-factor-decrease), var(--scaling-factor-decrease), var(--scaling-factor-decrease));
	transform: scale3d(var(--scaling-factor-decrease), var(--scaling-factor-decrease), var(--scaling-factor-decrease));
}

#timerImage {
	transition-duration: 0.7s;
}

#timerImage:hover {
	-webkit-transform: rotate3d(0,0,1,360deg);
	transform: rotate3d(0,0,1,360deg);
}

#timerImage:active {
	-webkit-transform: scale3d(var(--scaling-factor-decrease), var(--scaling-factor-decrease), var(--scaling-factor-decrease));
	transform: scale3d(var(--scaling-factor-decrease), var(--scaling-factor-decrease), var(--scaling-factor-decrease));
}

#timer {
	margin: 0em;
	width: 3em;
}

#menuSection {
	display:flex;
	justify-content:center;
}

.menu {
	z-index: 3;
	position: fixed;
	display:flex;
	flex-direction:column;
	align-items: center;
	justify-content: center;
	top: 50%;
	opacity: 0;
	background-color: #211f27;
	-webkit-transform: translate3d(0, 100%, 0);
	transform: translate3d(0, 100%, 0);
	transition: all 0.3s;
}

.menu.menuOnScreen {
	opacity: 1;
	-webkit-transform: translate3d(0, -50%, 0);
	transform: translate3d(0, -50%, 0);
}

.menuTitleSection {
	cursor: default;
	display:flex;
	flex-direction:column;
	align-items: center;
	width: 100%;
}

.menuContentSection {
	cursor: default;
	width: 37em;
	max-height: 35em;
	overflow-y: scroll;
	overscroll-behavior: none;
	scrollbar-width: none;								/* Firefox */
	backface-visibility: hidden;						/* Blurry text fix */
}

.menuContentSection::-webkit-scrollbar {
	display: none;
	-ms-overflow-style: none;
}

.menuContentSection > div {
	display:flex;
	flex-direction:column;
	align-items: center;
}

.menuContentSection > div > * {
	margin-left: 10%;
	margin-right: 10%;
}

.menuButtonSection {
	display:flex;
	justify-content: center;
	width: 100%;
	padding-top: 2%;
	padding-bottom: 2%;
}

.menuButton {
	min-width: 20%;
	margin-left: 2%;
	margin-right: 2%;
	background-color: #0080ff;
}

@media (hover:hover) and (pointer: fine) {
	.menuButton:hover {
		background-color: #1a8cff;
	}
}

.menuButton:active {
	background-color: #1a8cff;
}

.backgroundContent {
	pointer-events: none;
}

.popUpOverlay {
	cursor: pointer;
	position: fixed;
	z-index: 2;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	background: rgba(0, 0, 0, 0.9);
	transition: all 0.3s;
}

.popUpOverlay.menuOnScreen {
	opacity: 1;
}

.popUpOverlayDismissed {
	opacity: 0;
}

.gameBoxNotSelected {
	background-color: #02b15f;
}

@media (hover:hover) and (pointer:fine) {
	.gameBoxNotSelected:hover {
		background-color: #017e44;
	}
}

.gameBoxNotSelected:active {
	background-color: #017e44;
}

.gameBoxSelected {
	opacity: 0.5;
	background-color: #e6001f;
}

@media (hover:hover) and (pointer:fine) {
	.gameBoxSelected:hover {
		background-color: #f2001f;
	}
}

.gameBoxSelected:active {
	background-color: #f2001f;
}

table {
	table-layout: fixed ;						/* This will force them to be all the same width and occupy all the available space */
	width: 100%;
	border-spacing: 1em;
	margin-bottom: 5%;
}

td {
	cursor: pointer;
	font-weight: bold;
	font-size: 150%;
	height: 5em;
	max-width: 0;
	overflow: hidden;
	text-overflow: ellipsis;
}

@media (hover:hover) and (pointer:fine) {
	td:hover {
		-webkit-transform: scale3d(var(--scaling-factor-increase-reduced), var(--scaling-factor-increase-reduced), var(--scaling-factor-increase-reduced));
		transform: scale3d(var(--scaling-factor-increase-reduced), var(--scaling-factor-increase-reduced), var(--scaling-factor-increase-reduced));
		opacity: 1;
	}
}

td:active {
	-webkit-transform: scale3d(var(--scaling-factor-decrease), var(--scaling-factor-decrease), var(--scaling-factor-decrease));
	transform: scale3d(var(--scaling-factor-decrease), var(--scaling-factor-decrease), var(--scaling-factor-decrease));
	opacity: 1;
}

label {
	font-weight: bold;
	font-size: 130%;
}

input, button {
	font-size: 120%;
	overflow: hidden;
	margin-left: 0.3em;
	padding: 0.5em;
	opacity: 0.7;
	background-color: #3333ff;
}

input:hover {
	opacity: 1;
	-webkit-transform: scale3d(var(--scaling-factor-increase-reduced), var(--scaling-factor-increase-reduced), var(--scaling-factor-increase-reduced));
	transform: scale3d(var(--scaling-factor-increase-reduced), var(--scaling-factor-increase-reduced), var(--scaling-factor-increase-reduced));
}


input:focus {
	opacity: 1;
	-webkit-transform: scale3d(var(--scaling-factor-increase-reduced), var(--scaling-factor-increase-reduced), var(--scaling-factor-increase-reduced));
	transform: scale3d(var(--scaling-factor-increase-reduced), var(--scaling-factor-increase-reduced), var(--scaling-factor-increase-reduced));
}

#points {
	cursor: pointer;
	width: 3em;
}

h1 {
	cursor: default;
	font-family: 'Oldenburg', cursive;
	font-size: 3em;
}

img {
	-webkit-user-drag: none;
	-khtml-user-drag: none;
	-moz-user-drag: none;
	-o-user-drag: none;
	user-drag: none;
}

/* Chrome, Firefox, Opera, Safari 10.1+ */
::placeholder {
	opacity: 1;
	color: #d1d1e0;
}

/* Internet Explorer 10-11 */
:-ms-input-placeholder {
	color: #d1d1e0;
}

/* Microsoft Edge */
::-ms-input-placeholder {
	color: #d1d1e0;
}

@media only screen and (max-width: 1080px) and (min-height: 600px) {
	label {
		display: none;
	}

	button {
		font-size: 130%;
	}

	td {
		font-size: 170%;
	}

	.menu {
		font-size: 130%;
	}
}

@media only screen and (max-height: 600px) {
	label {
		display: none;
	}

	button {
		font-size: 130%;
	}

	td {
		font-size: 170%;
	}
}
